<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="connection.url">jdbc:mysql://localhost:3306/football</property>
<property name="connection.username">root</property>
<property name="connection.password">root</property>
<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="myeclipse.connection.profile">football</property>
<property name="hibernate.show_sql">true</property>  
<property name="hibernate.hbm2ddl.auto">update</property>  
<mapping class="com.udcode.entity.Team"/>
<mapping class="com.udcode.entity.Match"/>
<mapping class="com.udcode.entity.Field"/>
<mapping class="com.udcode.entity.Account"/>
<mapping class="com.udcode.entity.User"/>
<mapping class="com.udcode.entity.TeamRights"/>
           </session-factory>
</hibernate-configuration>

